<p-toast  position="top-right"></p-toast>

<div>
    <p-dropdown
      appendTo="body"
      [options]="countries"
      [(ngModel)]="selectedCountry"
      (ngModelChange)="changeLanguage()"
      optionLabel="name"
      [showClear]="false"
      placeholder="Select a Country">
    </p-dropdown>
</div>

<p-button label="Testing" (click)="test()"></p-button>

<div class="card-default" >
  <div *ngFor="let movie of movies">
    <div class="movie-info">
      <img class="image" [src]="linkImage+movie.poster_path" alt="">
      <h1 [pTooltip]="movie.title" tooltipPosition="bottom" class="title">{{movie.title}}</h1>
      <p-rating
        [ngModel]="movie.vote_average | reduceNumberRating"
        [pTooltip]="movie.vote_average | reduceNumberRating | transformNumberString"
        [readonly]="true" [stars]="5"
        [cancel]="false"
        tooltipPosition="bottom">
      </p-rating>
    <h3 class="vote">{{movie.vote_average | reduceNumberRating}}</h3>
    <p-button class="button-watch" (click)="addMovieUserList(movie)" label="WatchList" icon="pi pi-plus"></p-button>
    </div>
  </div>
</div>
<div class="paginator">
  <p-paginator  [rows]="20" [totalRecords]="695253" (onPageChange)="onPageChange($event)"></p-paginator>
</div>
  


