@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.container {
  margin: 50px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;

  .img img {
    border-radius: 10px;
  }

  .title {
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .title-original {
    font-size: 0.7em;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .status {
  }

  .overview {
    padding-top: 30px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .rating {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    place-content: center flex-start;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .homepage{
    margin-top: 20px;
  }
}
