<div>
  <h1>Language</h1>
  <p-dropdown
    appendTo="body"
    [options]="cities"
    [(ngModel)]="selectedCountry"
    (ngModelChange)="changeLanguage()"
    optionLabel="name"
    filterBy="name"
    [showClear]="true"
    placeholder="Select a Country">
  </p-dropdown>
</div>

<div class="card-default" >
  <div  *ngFor="let movie of movies">
    <img class="movie-image" [src]="linkImage+movie.poster_path" alt="">
    <h1>{{movie.title}}</h1>
    <h1>{{movie.popularity}}</h1>
    <h1>{{movie.vote_average}}</h1>
  </div>
</div>
